.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.jsContentCenter{
    justify-content: center;
}

.jsContentEnd{
    justify-content: flex-end;
}

.alignContent{
    align-content: flex-end;
}

.alignItems{
    align-items: flex-end;
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.width100{
    width: 100%;
}

.height100{
    height: 100vh;
}

.back{
    background: red;
}

body{
    margin:0;
    overflow-y: hidden;
}

nav{
    z-index: 1;
}

header{
    z-index: 2;
}

section{
    z-index: 3;
}

img{
    transform: rotateY(-1deg) rotateX(1deg);
    height: 20em;
    width: 35em;
    position: absolute;
} 

.imgDiv{
    z-index: 2;
    height: 20em;
    width: 35em;
    align-self: center;
    position: relative;
    perspective: 50px;
}
