body{
    overflow-y: hidden;
    margin: 0;
}

header{
    width: 50%;
    left: 100%;
    top: 1em;
    transform: translate(-100%, 0%);
    z-index: 110;
}

section{
    height: 100vh;
    /* transition: 2s; */
}

a{
    text-decoration: none;
}

li{
    margin-top: 1em;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.jsContentSA{
    justify-content: space-around;
}

.alignItemsEnd{
    align-items: flex-end;
}

.alignItemsC{
    align-items: center;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.txtCenter{
    text-align: center;
}

.presentProject{
    height: 45vh;
    top: -10%;
}

.bande{
    height: 45vh;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.image{
    transform: rotateY(-1deg) rotateX(1deg);
    height: 55vh;
    width: 45%; 
    position: absolute;
    top: -15%;
    left: 10%;
    box-shadow: 10px 6px 100px;
} 

.imgProject{
    height: 45vh;
    width: 100%;
    perspective: 50px;
}

.txtProject{
    z-index: 101;
    width: 25%;
    top: 55%;
    left: 65%;
} 

.toolsProject{
    left: 70%;
    color: white;
}

.title1, p, h2, h3, li{
    font-family: 'Orbitron', sans-serif;    
}

.title1{
    font-size: 3.5em;
    margin-left: 1em;
}

#scrollBot{
    height: 4em;
    width: 4.5em;
    top: 0%;
}

#scrollTop{
    height: 4em;
    width: 4.5em;
    top: 100%;
    transform: translate(0%, -100%);
}

#simplonImg{
    height: 3em;
    width: 8em;
}

.ancre{
    font-size: 1em;
    text-align: center;
    margin-top: 5.5em;
    transform: rotate(-90deg);
    color:black;

    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Orbitron', sans-serif;    
}

#projects{
    left: -2%;
    height: 100vh;
    /* transform: translate(-100%, -35%); */
    z-index: 100;
    overflow: hidden;
    }

.bandeBright{
    position: absolute;
    height: 100%;
    width: 30%;
    left: 100%;
    transform: translate(-100%, 0%);
    filter: brightness(150%);
    mix-blend-mode: color-burn;
    background-color: lightcoral;
}

#linkBar{
    height: 100vh;
    width: 4.5em;
}

.imgSize:before{
    font-size: 2.4em;
}

.fa-linkedin-square:before{
    color:#0077B5;
}

.fa-git-square:before{
    color:#24292E;
}

.fa-id-card-o:before{
    color:#E40046;
}

.fa-graduation-cap:before{
    color: darkgray;
}

.animate{
    animation-name: present;
    animation-duration: 1.5s;
    z-index: 120;
}

#animationOnClick{
    position: fixed;
}

.sectionClone{
    top: 0%;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.42,1.08,.88,.99);
}
 
.sectionTransition{
    top: -100%;
    z-index: 102;
} 

#titleAnim{
    font-size: 8em;
    text-align: center;
}

.titleTransition{
    margin-top: 0em;
    transition: 0.8s;
}

.titleTransition2{
    margin-top: 2em;
}

.animeRibbon{
    animation: animeRibbon 1.6s;
    animation-timing-function: cubic-bezier(.42,1.08,.88,.99);
    z-index: 130;
}

.animeH2{
    animation: animeh2 0.4s;
    animation-delay: 1s;
}

.afterAnimeH2{
    margin-left: 2em;
}

.animeUl{
    animation: animeul 0.5s;
    animation-delay: 1.6s;
}

.afterAnimeUl{
    left: 70%;
}

.arrows{
    position: absolute;
    top: 72%;
    left: 8%;
    z-index: 2;
}

.arrow::before{
    font-size: 5.4em;
    color: grey;
}

@keyframes animeRibbon{
    0%{
        height: 100vh;
        width: 100%;
        top: 100%;
    }
    30%{
        top: 0%;
        height: 100vh;
        width: 100%;

    }
    60%{
        top: 0%;
        height: 100vh;
        width: 100%;
    }
    70%{
        height: 45vh;
        top: 37%;
    }
    100%{
        height: 45vh;
        top: 37%;
        width: 100%;
    }
}

@keyframes animeh2{
    0%{
        margin-left: 1em;
    }
    100%{
        margin-left: 2em;
    }
}

@keyframes animeul{
    0%{
        left: 60%;
    }
    100%{
        left: 70%;
    }
}